*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer__container{
    margin-top: 2rem;
    color:#000;
}

.footer__container{
    width: 80%;
    margin: auto;
}
.footer__hero{
    text-align: center;
}

.footer__hero h1{
    font-size: 32px;
    line-height: 56px;
    color: #121212;
    margin: 0;
    align-items: center;
}

.footer__hero p{
    /* max-width: 1020px; */
    text-align: center;
    margin-top: 1rem;
    color: rgba(0,25,46,.5)!important;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    padding: 0 15%;
}

.containers {
    display: flex;
    align-items: center;
    min-height: 100vh;
    /* justify-content: center; */
    border-radius: 5px;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
    ::selection{
      color: #fff;
      background:rgba(0,25,46,.5)!important;;
    }
    .wrappers{
      width: 715px;
      background: #fff;
      border-radius: 5px;
    }
    .wrappers header{
      font-size: 22px;
      font-weight: 600;
      padding: 10px 20px;
      color: rgba(0,25,46,.5)!important;;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .wrappers form{
      margin: 35px 30px;
    }
    .wrappers form.disabled{
      pointer-events: none;
      opacity: 0.7;
    }
    form .dbl-field{
      display: flex;
      margin-bottom: 25px;
      justify-content: space-between;
    }
    .dbl-field .field{
      height: 50px;
      display: flex;
      position: relative;
      width: calc(100% / 2 - 13px);
    }
    .wrappers form i{
      position: absolute;
      top: 50%;
      left: 18px;
      color: #D4455E!important;
      font-size: 17px;
      pointer-events: none;
      transform: translateY(-50%);
    }
    form .field input,
    form .message textarea{
      width: 100%;
      height: 100%;
      outline: none;
      padding: 0 18px 0 48px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid  #D4455E;;
    }
    .field input::placeholder,
    .message textarea::placeholder{
      color: #D4455E;;
    }
    .field input:focus,
    .message textarea:focus{
      padding-left: 47px;
      border: 2px solid #D4455E;
    }
    .field input:focus ~ i,
    .message textarea:focus ~ i{
      color: #D4455E;;
    }
    form .message{
      position: relative;
    }
    form .message i{
      top: 30px;
      font-size: 20px;
    }
    form .message textarea{
      min-height: 130px;
      max-height: 230px;
      max-width: 100%;
      min-width: 100%;
      padding: 15px 20px 0 48px;
    }
    form .message textarea::-webkit-scrollbar{
      width: 0px;
    }
    .message textarea:focus{
      padding-top: 14px;
    }
    form .button-area{
      margin: 25px 0;
      display: flex;
      align-items: center;
    }
    .button-area button{
      color: #fff;
      border: none;
      outline: none;
      font-size: 18px;
      cursor: pointer;
      border-radius: 5px;
      padding: 13px 25px;
      background: linear-gradient(45deg,#fd267a,#ff6036);
      transition: background 0.3s ease;
    }
    .button-area button:hover{
      background: #D4455E;
    }
    .button-area span{
      font-size: 17px;
      margin-left: 30px;
      display: none;
    }
  
    @media (max-width: 600px){
        .wrappers header{
          text-align: center;
        }
        .wrappers form{
          margin: 35px 20px;
        }
        form .dbl-field{
          flex-direction: column;
          margin-bottom: 0px;
        }
        form .dbl-field .field{
          width: 100%;
          height: 45px;
          margin-bottom: 20px;
        }
        form .message textarea{
          resize: none;
        }
        form .button-area{
          margin-top: 20px;
          flex-direction: column;
        }
        .button-area button{
          width: 100%;
          padding: 11px 0;
          font-size: 16px;
        }
        .button-area span{
          margin: 20px 0 0;
          text-align: center;
        }
      }
    
      /* media queries  */
@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .containers{
      width:auto
    }
}