section{
    padding:2rem 7%;
}


.pricing .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.pricing .box-container .boxs{
    background:#fff;
    border-radius: .5rem;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    padding:2rem;
    text-align: center;
}

.pricing .box-container .boxs h3{
    padding:1rem;
    background: #eee;
    border-radius: .5rem;
    font-size: 2rem;
    color:#666;
}

.pricing .box-container .boxs .price{
    padding-top: 2rem;
}

.pricing .box-container .boxs .price span{
    font-size: 2rem;
    color:#666;
}

.pricing .box-container .boxs .price .amount{
    font-size: 5rem;
    color: #444;
    font-weight: bolder;
}

.pricing .box-container .boxs ul{
    padding: .5rem 0;
    list-style: none;
}

.pricing .box-container .boxs ul li{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #666;
}
