
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255,255,255);
    font-family: 'Manrope', sans-serif;
}


.bubby__features-container__feature {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;

    margin: 1rem;
}

.bubby__features-container__feature-title {
    flex: 1;
    max-width: 180px;
    margin-right: 2rem;
}

.bubby__features-container__feature-title h1 {
    font-family: inherit;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #fff;
}

.bubby__features-container__feature-title div {
    width: 38px;
    height: 3px;
    margin-bottom: 0.25rem;
}

.bubby__features-container_feature-text {
    flex: 2;
    max-width: 390px;
    display: flex;
}

.bubby__features-container_feature-text p {
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

@media screen and (max-width: 550px) {
    .bubby__features-container__feature-title h1 {
        font-size: 14px;
        line-height: 22px;
    }

    .bubby__features-container_feature-text p {
        font-size: 12px;
        line-height: 20px;
    }

    .bubby__features-container__feature {
        margin: 1rem 0;
    }
}